services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: database
      DB_NAME: ${DB_NAME}
      DB_PORT: 5432
      NODE_ENV: production
    depends_on:
      database:
        condition: service_healthy
    ports:
      - ${Back_port}:3001
    networks:
      - backend_network
      - frontend_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - ${Front_port}:3000  
    networks:
      - frontend_network
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf 
  database:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: database 
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      DB_HOST: ${DB_HOST}
    ports:
      - ${DB_port}:5432
    networks:
      - backend_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  backend_network:
    driver: bridge
    name: backend_network
  frontend_network:  
    driver: bridge
    name: frontend_network
    
volumes:
  postgres_data:
